@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*
{
    box-sizing: border-box;
    font-family: 'Big Shoulders Display', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    
}



main
{
   display: flex;
   justify-content: center;
  align-items: center;
  min-height: 100vh;
  
    
}
.b1
{
min-height: 400px;
   min-width: 300px;
   padding: 40px;
   line-height: 2.1;
   
}
.b1 h2{
    color: white;
    text-transform: uppercase;
}
.c1
{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color:hsl(31, 77%, 52%) ;
    color:hsl(31, 40%, 84%);
    
}
.c1 button
{
    color:hsl(31, 77%, 52%)  ;
}
.c2
{
    background-color: hsl(184, 100%, 22%);
    color: hsl(185, 59%, 78%);
}
.c2 button
{
    color:hsl(184, 100%, 22%) ;
}
.c3
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: hsl(179, 100%, 13%);
    color:hsl(178, 66%, 78%);
}
.c3 button
{
    color:hsl(179, 100%, 13%);
}
footer
{
    padding-top: 70px;
    
}
button
{
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
}